* {
    margin:0;
    padding:0;
}
body, html {
    margin: 0;
    padding: 0;
    background:black;
    cursor:none;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
canvas {
    display:block;
}